tag-vim/vim/backups
tag-vim/vim/undo/*
tag-vim/vim/view/*
tag-vim/vim/tmp
tag-vim/vim/spell
tag-vim/vim/plugged/
tag-vim/vim/sessions
tag-vim/vim/.netrwhist

tag-nvim/nvim/.netrwhist
tag-nvim/nvim/view/*

tag-irc/irssi/away.log

tags
.ruby-version

.DS_Store
