[submodule "tag-ruby/rbenv/plugins/rbenv-aliases"]
	path = tag-ruby/rbenv/plugins/rbenv-aliases
	url = https://github.com/tpope/rbenv-aliases.git
[submodule "tag-ruby/rbenv/plugins/rbenv-ctags"]
	path = tag-ruby/rbenv/plugins/rbenv-ctags
	url = https://github.com/tpope/rbenv-ctags.git
[submodule "tag-ruby/rbenv/plugins/rbenv-binstubs"]
	path = tag-ruby/rbenv/plugins/rbenv-binstubs
	url = https://github.com/ianheggie/rbenv-binstubs.git
[submodule "tag-ruby/rbenv/plugins/rbenv-communal-gems"]
	path = tag-ruby/rbenv/plugins/rbenv-communal-gems
	url = https://github.com/tpope/rbenv-communal-gems.git
[submodule "tag-ruby/rbenv/plugins/rbenv-default-gems"]
	path = tag-ruby/rbenv/plugins/rbenv-default-gems
	url = https://github.com/sstephenson/rbenv-default-gems.git
[submodule "tag-ruby/rbenv/plugins/rbenv-gem-rehash"]
	path = tag-ruby/rbenv/plugins/rbenv-gem-rehash
	url = https://github.com/sstephenson/rbenv-gem-rehash.git
[submodule "tag-ruby/rbenv/plugins/rbenv-plug"]
	path = tag-ruby/rbenv/plugins/rbenv-plug
	url = https://github.com/znz/rbenv-plug.git
[submodule "tag-ruby/rbenv/plugins/rbenv-update"]
	path = tag-ruby/rbenv/plugins/rbenv-update
	url = https://github.com/rkh/rbenv-update.git
[submodule "tag-ruby/rbenv/plugins/rbenv-use"]
	path = tag-ruby/rbenv/plugins/rbenv-use
	url = https://github.com/rkh/rbenv-use.git
[submodule "tag-ruby/rbenv/plugins/rbenv-user-gems"]
	path = tag-ruby/rbenv/plugins/rbenv-user-gems
	url = https://github.com/mislav/rbenv-user-gems.git
[submodule "tag-ruby/rbenv/plugins/rbenv-vars"]
	path = tag-ruby/rbenv/plugins/rbenv-vars
	url = https://github.com/sstephenson/rbenv-vars.git
[submodule "tag-ruby/rbenv/plugins/rbenv-whatis"]
	path = tag-ruby/rbenv/plugins/rbenv-whatis
	url = https://github.com/rkh/rbenv-whatis.git
[submodule "tag-ruby/rbenv/plugins/ruby-build"]
	path = tag-ruby/rbenv/plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
[submodule "tag-zsh/oh-my-zsh"]
	path = tag-zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "tag-ruby/dotpryrc"]
	path = tag-ruby/dotpryrc
	url = git@github.com:vyorkin/dotpryrc.git
[submodule "tag-zsh/zsh-autosuggestions"]
	path = tag-zsh/zsh-autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions.git
[submodule "tag-zsh/zsh-history-substring-search"]
	path = tag-zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "tag-zsh/zsh-syntax-highlighting"]
	path = tag-zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dotsecrets"]
	path = dotsecrets
	url = git@bitbucket.org:vyorkin/dotsecrets.git
[submodule "tag-tmux/tmux/plugins/tpm"]
	path = tag-tmux/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tag-ruby/rbenv/plugins/rbenv-readline"]
	path = tag-ruby/rbenv/plugins/rbenv-readline
	url = https://github.com/tpope/rbenv-readline.git
[submodule "tag-vim/vim/bundle/Vundle.vim"]
	path = tag-vim/vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
[submodule "config/nvim/UltiSnips"]
	path = config/nvim/UltiSnips
	url = git@github.com:vyorkin-personal/ultisnips-snippets.git
[submodule "iterm2/themes/over130"]
	path = iterm2/themes/over130
	url = https://github.com/mbadolato/iTerm2-Color-Schemes.git
